/* FORMULARIOS ABRE TU CUENTA */

// GENERAL SETTINGS
input[type="password"]
	padding: 16px 20px
	@media (max-width: $tablet_b)
		height: auto !important

.has-gray-placeholder
	height: 64px!important
	border: none
	@media (max-width: $tablet_b)
		padding: 16px 20px!important
		height: auto !important

select.first-option-gray
	option:nth-child(1)
		color: $c-gray

.has-lg-btn
	@media (min-width: $tablet_b)
		padding: 17px 74px!important

.border-50px
	+border-radius(50px)

.border-979797-1px
	border: 1px solid #979797

.cir-120px
	width: 120px
	padding-bottom: 120px
	+border-radius(120px)
	@media (max-width: $tablet_b)
		min-width: 80px
		min-height: 80px

.has-tooltip-top
	.tooltip-box
		+border-radius(10px)
		font-size: 18px
		line-height: 21px
		color: $c-white
		position: absolute
		text-align: left
		padding: 10px
		opacity: 0
		visibility: hidden
		pointer-events: none
		left: -40px
		bottom: 30px
		width: 270px
		padding-top: 8px
		z-index: 1
		&:after
			content: ''
			height: 20px
			width: 20px
			background: $c-dark-blue
			position: absolute
			+transform(rotate(45deg))
			bottom: -7px
			left: 38px
			z-index: -1
	&:hover
		.tooltip-box
			opacity: 1
			visibility: visible
			pointer-events: auto
	@media (max-width: 990px)
		right: -10px
		.tooltip-box
			font-size: 14px
			line-height: 18px
	@media (max-width: $tablet_b)
		right: 100px
		.tooltip-box
			left: inherit
			right: -30px
			&:after
				left: inherit
				right: 26px
	@media (max-width: $phone_b)
		right: 80px

.i-btn-sm
	bottom: 0
	cursor: pointer
	width: 15px
	height: 15px
	border: 1px solid $c-dark-blue
	+border-radius(15px)
	font-size: 12px
	text-align: center
	right: 5px
	position: absolute
	line-height: 12.5px

// TEMPLATE SETTINGS
.nav-pills
	.pill
		cursor: default
		padding-right: 30px!important
	.active
		color: $c-white
		background-color: $c-blue
	.disabled
		color: $c-blue
		.cir-30x30
			background-color: $c-gray
			color: $c-dark-blue
	.visited
		color: $c-green
		.cir-30x30
			background-color: $c-green
			color: transparent
			position: relative
			&:after
				content: url('../img/icon-arrow-check-white.svg')
				top: 1px
				right: 0
				left: 0
				margin: auto
				position: absolute
